In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
obj = Series([1,3,5,7])

In [4]:
obj

0    1
1    3
2    5
3    7
dtype: int64

In [5]:
obj.values

array([1, 3, 5, 7], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:

#WW2 casualties 
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

#Show
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['USA']

400000

In [10]:
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
'Japan' in ww2_cas

True

In [13]:
ww2_dict = ww2_cas.to_dict()

In [14]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [15]:
ww2_series = Series(ww2_dict)

In [16]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [17]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [18]:
obj2 = Series(ww2_dict, index=countries)

In [19]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [20]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [21]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [23]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [24]:
obj2.name = 'World War 2 Casualties'

In [25]:
obj2.index.name = 'Countries'

In [26]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64